﻿.title{
    color: gray;
    font-size: 20px;
    margin:auto;
    text-align: center;
    width: 800px;
}

#mapShell {
  width: 700px;
  height: 600px;
}

#chartShell {
  width: 600px;
  height: 800px;
}

svg.map {
  position: relative;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#chart1 {
    display: block;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.boundary {
  fill: grey;
  fill-opacity: .1;
  stroke: #ffffff;
  stroke-width: 1.5px;
}

.highlight-boundary{
  fill-opacity: .5;
  stroke: #ffffff;
  stroke-width: 1.5px;
}

a {
    color: gray;
    text-decoration: none;
    font-size:14px;
}

.crimeCount {
    fill: #E5E4E2;
    border-color:#ffffff;            
}

.crimeCount:hover {
    fill: #726E6D;
}

.axis {
    font: 10px sans-serif;
}

/*START Slider*/
.resize path {
  fill: darkgreen;
  fill-opacity: .5;
  stroke: #000;
  stroke-width: 0.5px;
}

.slider .extent {
  fill: darkgreen;
  fill-opacity: .35;
  shape-rendering: crispEdges;
}

.slider .background {
  fill: darkgreen;
  stroke: #000;
  fill-opacity: .125;
  stroke-width: 0.1px;
  stroke-linecap: round;
}

.sliderAxis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tick path,
.tick line {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  stroke-linecap: round;
}

.domain {
  fill: none;
  /*stroke: #000;*/
  stroke-opacity: .3;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  stroke-linecap: round;
}

/*END Slider*/
circle {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
  fill-opacity: .2;
}

.selecting circle.selected {
  stroke: #f00;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
.barContainer {
    /*float:left*/
}
.bifurcation {
    stroke: #000;
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.smoothLine{
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}
.dot {
    stroke: #000;
}
text.nv-axislabel{
  font-size: 17px;
}

